{% for idea in ideas %} <!--Aqui podemos substituir o "idea" por qualquer coisa. Podemos utilizar i por exemplo-->
  <div class="idea">
    
    <img 
    src="{{idea.image}}" 
    alt="Imagem de {{idea.title}}">
  
    <div class="content">
      <h3>{{idea.title}}</h3>
      <p>{{idea.category}}</p>
      <div class="description">
        {{idea.description}}
      </div>
      <a href="{{idea.link}}" target="_blank">Ir para a ideia.</a>
    </div>
    <section id="buttons">
      <a href="/ideias/{{idea.id}}">
        <button>
          <img class="delete" alt="deletar" src="https://image.flaticon.com/icons/svg/1168/1168643.svg"/>
        </button>
      </a>
    </section> 
  </div> 
{% endfor %}